<div class="step fourth-step">
    <div class="box-wrap col-2 box-wrap-left">
        <div class="input-mobile-wrap w-100 h-100">
            <div class="input-group mb-3 w-100 h-100 textarea">
                <textarea type="text" class="form-control w-100 h-100" aria-label="Default"
                          aria-describedby="inputGroup-sizing-default" id="purpose"
                          placeholder="هدفتون از ورود به دنیاي دجیتال و کسب و کارتون در دنیاي دیجیتال چیست؟"></textarea>
            </div>
        </div>
    </div>
</div>
